---

In [1]:
import pandas as pd
import numpy as np
import tweepy
import requests as rq
import json
from yelp.client import Client
from tweepy.parsers import JSONParser
from geopy.geocoders import Nominatim
geolocator = Nominatim()

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

consumer_key = "Ed4RNulN1lp7AbOooHa9STCoU"
consumer_secret = "P7cUJlmJZq0VaCY0Jg7COliwQqzK0qYEyUF9Y0idx4ujb3ZlW5"
access_token = "839621358724198402-dzdOsx2WWHrSuBwyNUiqSEnTivHozAZ"
access_token_secret = "dCZ80uNRbFDjxdU2EckmNiSckdoATach6Q8zb7YYYE5ER"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=JSONParser())

target_cities = ["Chicago",
                 "New York",
                 "Houston",
                 "Philadelphia",
                 "Los Angeles",
                 "Atlanta",
                 "Miami"]

In [2]:
coordinates = []
for city in target_cities:
    location = geolocator.geocode(city)
    coordinates.append({"Latitude": location.latitude,
                        "Longitude": location.longitude,
                        "City": city})
    
coordinates_df = pd.DataFrame.from_dict(coordinates)
coordinates_df = coordinates_df.set_index("City", inplace = False)

In [3]:
coordinates_df.to_csv("city_coordinates_dataframe.csv")

In [4]:
coordinates_data = pd.read_csv("city_coordinates_dataframe.csv")



for index, row in coordinates_data.iterrows():
    geo_code = ('%s,%s,20mi' %(row["Latitude"],row["Longitude"]))
    
    
    geo_coordinates = []
    geo_coordinates.append(geo_code)
        

    print(geo_coordinates)
    
    sentiment_df = pd.read_csv("LA-restaurant.csv")
    
    compound_list = []

    for index, row in sentiment_df.iterrows():
        public_tweets = api.search(row["User Name"], rpp=100, result_type="recent", geocode = geo_coordinates[0])   
  
        

        for tweet in public_tweets["statuses"]:
            for element in target_cities:
                compound = analyzer.polarity_scores(tweet["text"])["compound"]
                compound_list.append(compound)
                sentiment_df.set_value(index, element, np.mean(compound_list))

['41.8755546,-87.6244212,20mi']
['40.7306458,-73.9866136,20mi']
['29.7589382,-95.36769740000001,20mi']
['39.952399299999996,-75.1635899,20mi']
['34.054935,-118.244476,20mi']
['33.749098700000005,-84.39018490000001,20mi']
['25.7742658,-80.1936589,20mi']

In [5]:
sentiment_df = sentiment_df.dropna()
del sentiment_df['Unnamed: 0']

In [6]:
sentiment_df

,Restaurant Names,User Name,Follower Count,Chicago,New York,Houston,Philadelphia,Los Angeles,Atlanta,Miami
0,Red Lobster,redlobster,296664,0.253405,0.257400,0.261310,0.265137,0.268884,0.272555,0.276150
1,SUBWAYÂ®Restaurants,SUBWAY,2467427,0.143305,0.142581,0.141864,0.141155,0.140453,0.139757,0.139069
3,In-N-Out Burger,innoutburger,44775,0.164608,0.166530,0.168435,0.170325,0.172198,0.174055,0.175897
6,Little Caesars Pizza,littlecaesars,232112,0.151546,0.149758,0.147984,0.146222,0.144473,0.142737,0.141013
8,Chili's Grill & Bar,Chilis,383907,0.168287,0.169795,0.171294,0.172785,0.174268,0.175743,0.177210
9,Fatburger,Fatburger,14993,0.192756,0.193028,0.193298,0.193567,0.193835,0.194101,0.194365
10,Wingstop,wingstop,208253,0.162884,0.161720,0.160560,0.159405,0.158255,0.157109,0.155969
11,Chuck E. Cheese's,ChuckECheeses,23749,0.159825,0.159509,0.159194,0.158881,0.158569,0.158258,0.157948
12,TGI Fridays,TGIFridays,208950,0.148510,0.148249,0.147989,0.147729,0.147471,0.147214,0.146957
14,Benihana,Benihana,13086,0.065210,0.065114,0.065017,0.064921,0.064825,0.064729,0.064634
15,Olive Garden,olivegarden,385774,0.057224,0.057321,0.057418,0.057514,0.057610,0.057706,0.057802
16,Taco Bell,tacobell,1888502,0.133234,0.134006,0.134776,0.135544,0.136310,0.137075,0.137837
17,Jack Box,JackBox,91621,0.130633,0.130494,0.130355,0.130217,0.130079,0.129941,0.129804
18,Wendy's,Wendys,2288957,0.130971,0.131284,0.131598,0.131910,0.132222,0.132533,0.132844
19,McDonald's,McDonalds,3540391,0.125684,0.126011,0.126337,0.126663,0.126988,0.127313,0.127637
20,Popeyes Chicken,PopeyesChicken,92760,0.129978,0.129865,0.129752,0.129639,0.129527,0.129414,0.129302
21,Panera Bread,askpanera,563,0.128569,0.127837,0.127106,0.126377,0.125649,0.124922,0.124196
22,Starbucks,Starbucks,11942459,0.119965,0.120491,0.121016,0.121540,0.122063,0.122586,0.123108
23,Burger King,BurgerKing,1591887,0.129503,0.129404,0.129305,0.129206,0.129107,0.129008,0.128910
24,Applebee's,Applebees,627246,0.129324,0.128836,0.128350,0.127864,0.127378,0.126894,0.126410

In [7]:
sentiment_df.to_csv("city_sentiments.csv")