---

In [14]:
import pandas as pd
import numpy as np
import tweepy
import requests as rq
import json
from yelp.client import Client
from tweepy.parsers import JSONParser
from geopy.geocoders import Nominatim
geolocator = Nominatim()

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

consumer_key = "GlqIgLmPEfS2LBHkBGGqLRbCv"
consumer_secret = "lIdwBTOYOeSNbvZm2c43Ibm4ARtwSS5pQCfl5MdSpo2S7c2mc6"
access_token = "942094170847526912-kAVi1LeM2T6pqwFNbkCERuDxmgJuH3M"
access_token_secret = "4skwxhl5QUwDsgJDVSm4ynuf6DM8HLQmhhQtVXUP1PWWG"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=JSONParser())

target_cities = [
                 "Chicago",
                 "New York",
                 "Houston",
                 "Philadelphia",
                 "Los Angeles",
                 "Atlanta",
                 "Miami",
                 ]

In [15]:
coordinates = []
for city in target_cities:
    location = geolocator.geocode(city)
    coordinates.append({"Latitude": location.latitude,
                        "Longitude": location.longitude,
                        "City": city})
    
coordinates_df = pd.DataFrame.from_dict(coordinates)
coordinates_df = coordinates_df.set_index("City", inplace = False)

In [16]:
coordinates_df.to_csv("city_coordinates_dataframe.csv")

In [17]:
coordinates_data = pd.read_csv("city_coordinates_dataframe.csv")



for index, row in coordinates_data.iterrows():
    geo_code = ('%s,%s,20mi' %(row["Latitude"],row["Longitude"]))
    
    
    geo_coordinates = []
    geo_coordinates.append(geo_code)
        

    print(geo_coordinates)
    
    sentiment_df = pd.read_csv("LA-restaurant.csv")
    
    compound_list = []

    for index, row in sentiment_df.iterrows():
        public_tweets = api.search(row["User Name"], rpp=100, result_type="recent", geocode = geo_coordinates[0])   
  
        

        for tweet in public_tweets["statuses"]:
            for element in target_cities:
                compound = analyzer.polarity_scores(tweet["text"])["compound"]
                compound_list.append(compound)
                sentiment_df.set_value(index, element, np.mean(compound_list))
            
sentiment_df

['41.8755546,-87.6244212,20mi']
['40.7306458,-73.9866136,20mi']
['29.7589382,-95.36769740000001,20mi']
['39.952399299999996,-75.1635899,20mi']
['34.054935,-118.244476,20mi']
['33.749098700000005,-84.39018490000001,20mi']
['25.7742658,-80.1936589,20mi']

,Unnamed: 0,Restaurant Names,User Name,Follower Count,Chicago,New York,Houston,Philadelphia,Los Angeles,Atlanta,Miami
0,0,Red Lobster,redlobster,296664,0.426487,0.418347,0.410368,0.402546,0.394876,0.387353,0.379973
1,1,SUBWAYÂ®Restaurants,SUBWAY,2467427,0.075821,0.078269,0.080693,0.083094,0.085472,0.087827,0.090160
2,2,Eatalian Cafe,EATALIANCAFE,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,In-N-Out Burger,innoutburger,44775,0.128408,0.130549,0.132672,0.134776,0.136862,0.138929,0.140979
4,4,Hustler Casino,HUSTLERCASINOLA,2895,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Roscoe's House of Chicken and Waffles,roscoesofficial,30909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Little Caesars Pizza,littlecaesars,232112,0.098185,0.097888,0.097593,0.097300,0.097009,0.096719,0.096431
7,7,The Bicycle Hotel & Casino,BicycleCasino,9333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Chili's Grill & Bar,Chilis,383907,0.125168,0.124881,0.124595,0.124311,0.124028,0.123746,0.123465
9,9,Fatburger,Fatburger,14993,0.138155,0.138500,0.138844,0.139186,0.139527,0.139867,0.140205
10,10,Wingstop,wingstop,208253,0.116551,0.116343,0.116137,0.115931,0.115725,0.115521,0.115317
11,11,Chuck E. Cheese's,ChuckECheeses,23749,0.123724,0.123514,0.123305,0.123097,0.122890,0.122683,0.122476
12,12,TGI Fridays,TGIFridays,208950,0.125651,0.126494,0.127335,0.128174,0.129009,0.129842,0.130673
13,13,Bossa Nova,Bossanovaeats,2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Benihana,Benihana,13086,0.103582,0.103441,0.103301,0.103161,0.103022,0.102883,0.102744
15,15,Olive Garden,olivegarden,385774,0.086767,0.087673,0.088576,0.089477,0.090376,0.091273,0.092167
16,16,Taco Bell,tacobell,1888502,0.136787,0.137489,0.138191,0.138890,0.139588,0.140285,0.140980
17,17,Jack Box,JackBox,91621,0.159997,0.160429,0.160860,0.161291,0.161720,0.162149,0.162577
18,18,Wendy's,Wendys,2288957,0.147984,0.147852,0.147721,0.147589,0.147458,0.147327,0.147196
19,19,McDonald's,McDonalds,3540391,0.148640,0.148078,0.147517,0.146957,0.146398,0.145840,0.145283
20,20,Popeyes Chicken,PopeyesChicken,92760,0.126771,0.127154,0.127536,0.127918,0.128299,0.128679,0.129059
21,21,Panera Bread,askpanera,563,0.128955,0.128851,0.128748,0.128644,0.128541,0.128437,0.128334
22,22,Starbucks,Starbucks,11942459,0.125026,0.124988,0.124951,0.124913,0.124876,0.124839,0.124802
23,23,Burger King,BurgerKing,1591887,0.122414,0.122197,0.121980,0.121763,0.121546,0.121330,0.121114
24,24,Applebee's,Applebees,627246,0.123107,0.123024,0.122941,0.122858,0.122776,0.122694,0.122611

In [18]:
sentiment_df.to_csv("city_sentiments.csv")