In [1]:
import pandas as pd
import numpy as np
import tweepy
import requests as rq
import json
from yelp.client import Client
from tweepy.parsers import JSONParser

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
Consumer_Key = "FSfjjE3eU8euI2t2VUJGh009v"
Consumer_Secret = "B4NEEiXmBOnmJyHS5zo7VxbbMFvjw9DbglolN9c3Nj9ObQYZKU"
Access_Token = "942094172969828352-WCe9ZgRKy30MKWLFYfeWUtzJCCDft7G"
Access_Token_Secret = "XHab1ABIUXKIW2SQrWtH48HImrOHxKqfdwUxRbmUFvylm"

In [3]:
auth = tweepy.OAuthHandler(Consumer_Key, Consumer_Secret)
auth.set_access_token(Access_Token, Access_Token_Secret)

api = tweepy.API(auth, parser=JSONParser())

In [4]:
new_df = pd.read_csv("LA-restaurant.csv")
new_df['LA Sentiment'] = ""
analyzer = SentimentIntensityAnalyzer()

In [5]:
compound_list = []
positive_list = []
negative_list = []
neutral_list = []

# Grab 25 tweets
for index, row in new_df.iterrows():
    public_tweets = api.search(row["User Name"], rpp=100, result_type="recent")

# Loop through all tweets
    for tweet in public_tweets["statuses"]:
        compound = analyzer.polarity_scores(tweet["text"])["compound"]
        pos = analyzer.polarity_scores(tweet["text"])["pos"]
        neu = analyzer.polarity_scores(tweet["text"])["neu"]
        neg = analyzer.polarity_scores(tweet["text"])["neg"]
        
        compound_list.append(compound)
        positive_list.append(pos)
        negative_list.append(neg)
        neutral_list.append(neu)
        
        new_df.set_value(index, 'LA Sentiment', np.mean(compound_list))

In [6]:
new_df['New York Sentiment'] = ""

In [7]:
new_df

,Unnamed: 0,Restaurant Names,User Name,Follower Count,LA Sentiment,New York Sentiment
0,0,Red Lobster,redlobster,296664,0.43454,
1,1,SUBWAY®Restaurants,SUBWAY,2467427,0.396735,
2,2,Eatalian Cafe,EATALIANCAFE,158,,
3,3,In-N-Out Burger,innoutburger,44775,0.212359,
4,4,Hustler Casino,HUSTLERCASINOLA,2895,,
5,5,Roscoe's House of Chicken and Waffles,roscoesofficial,30909,0.220277,
6,6,Little Caesars Pizza,littlecaesars,232112,0.176605,
7,7,The Bicycle Hotel & Casino,BicycleCasino,9333,0.165123,
8,8,Chili's Grill & Bar,Chilis,383907,0.176035,
9,9,Fatburger,Fatburger,14993,0.154823,
10,10,Wingstop,wingstop,208253,0.15293,
11,11,Chuck E. Cheese's,ChuckECheeses,23749,0.170312,
12,12,TGI Fridays,TGIFridays,208950,0.174936,
13,13,Bossa Nova,Bossanovaeats,2321,0.183339,
14,14,Benihana,Benihana,13086,0.168935,
15,15,Olive Garden,olivegarden,385774,0.135749,
16,16,Taco Bell,tacobell,1888502,0.136817,
17,17,Jack Box,JackBox,91621,0.127337,
18,18,Wendy's,Wendys,2288957,0.11667,
19,19,McDonald's,McDonalds,3540391,0.109058,
20,20,Popeyes Chicken,PopeyesChicken,92760,0.108581,
21,21,Panera Bread,askpanera,563,0.127944,
22,22,Starbucks,Starbucks,11942459,0.121079,
23,23,Burger King,BurgerKing,1591887,0.117081,
24,24,Applebee's,Applebees,627246,0.124041,

In [ ]:
#api = "AIzaSyBqIL-y5BKQwxyrt72Elgvhh9FT7X3Ospg"
#url_geo = "https://maps.googleapis.com/maps/api/geocode/json?address=350+5th+Ave+New+York+NY+10118&key=%s"%(api)
#response2 = rq.get(url_geo).json() 
#print(json.dumps(response2, indent = 4, sort_keys = True))

In [1]:
print("JT- I'll add more cities onto our dataframe using geocode Lat/Lng of addresses from an iconic places within the city.")

JT- I'll add more cities onto our dataframe using geocode Lat/Lng of addresses from an iconic places within the city.